
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499675848048'); /* IE9*/
  src: url('iconfont.eot?t=1499675848048#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499675848048') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499675848048') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499675848048#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before { content: "\e6b9"; }

.icon-jiantou:before { content: "\e6a4"; }

.icon-cuohao:before { content: "\e60b"; }

.icon-zhankai:before { content: "\e60f"; }

.icon-weikaishi:before { content: "\e622"; }

.icon-zhongzhi:before { content: "\e623"; }

.icon-zanting:before { content: "\e624"; }

.icon-yiwancheng:before { content: "\e625"; }

.icon-jinhangzhong:before { content: "\e626"; }

.icon-zhankai-copy:before { content: "\e610"; }

.icon-jiantou-copy:before { content: "\e6a5"; }

.icon-shanchu:before { content: "\e627"; }

.icon-genghuan:before { content: "\e628"; }

