html{
    display: flex;
    align-items: stretch;
}
body{
    display: flex;
    align-items: stretch;
    margin: 0;
}
.structure-box{
    width: 100%;
}
.structure-box img {
    width: 100%;
}
.main-banner{
    width: 100%;
}
.banner-box{
    padding: 20px;
    display: flex;
    background: #e3e8ec;
}